@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

/* TEMA GELAP DENGAN POLA TITIK-TITIK */
body {
  background-color: #0f172a; /* Warna Slate-900 (Biru Dongker Gelap) */
  background-image: radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 32px 32px; /* Ukuran jarak antar titik */
  color: #f8fafc; /* Warna teks putih keabu-abuan agar tidak sakit di mata */
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}